@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/

h1 {
  @apply text-4xl tracking-tighter mb-3 text-center lg:text-7xl;
}

h3 {
  @apply text-2xl font-bold mb-3;
}

.tag {
  @apply bg-blue-700 text-white text-sm font-medium py-1 px-2 mx-0.5 rounded align-middle;
}

body {
  @apply bg-gray-800 text-white;
}
