---
layout: default
path: home
---

<section
  id="home"
  class="container mx-auto h-screen flex flex-col justify-center items-center"
>
  <h1>
    Welcome to
    <strong
      class="bg-clip-text text-transparent bg-gradient-to-r w-full block from-blue-500 to-purple-500"
    >
      {{settings.name}}
    </strong>
  </h1>

  <p class="px-2 text-center">
    Follow along with
    <span class="text-purple-400 font-bold">crypto</span> and
    <span class="text-blue-400 font-bold">traditional</span> markets
  </p>

  <div class="p-2">
  {% include "./_includes/partials/newsletter_form.html" %}
  </div>

  <a href="#coins" class="mt-24 text-6xl">↓</a>
</section>

<section
  id="coins"
  class="container mx-auto lg:h-screen flex flex-col justify-center items-center text-center"
>
  <h2
    class="bg-clip-text text-transparent bg-gradient-to-r w-full block from-blue-500 to-purple-500"
  >
    COINS
  </h2>

  {% include "./_includes/partials/content.html" %}
</section>
