<form
  class="w-full place-content-center object-center max-w-sm py-6 mt-5"
  name="newsletter"
  method="POST"
  action="/success"
  data-netlify="true"
>
  <div class="flex items-center border-b border-white-500 py-2">
    <input
      class="appearance-none bg-transparent border-none w-full text-white-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
      type="email"
      placeholder="Your Email"
      aria-label="Your Email"
    />
    <button
      class="flex-shrink-0 bg-purple-700 hover:border-purple-700 border text-white py-1 px-2 rounded"
      type="submit"
    >
      Join Newsletter
    </button>
  </div>
</form>
